/* You can add global styles to this file, and also import other style files */
html {
  background-color: #1C1C1C;
  color: #BABABA;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.text-xxl {
  font-size: 2.5rem;
}

.text-normal {
  font-size: 1rem;
}

.font-bolder {
  font-weight: 800;
}

.semi-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}
